<%= search_form_for @q, url: moderation_articles_url do |f| %>
  <%= f.label :state_eq %>
  <%= f.select :state_eq, ['draft', 'moderation', 'published'] %>

  <%= f.submit %>
<% end %>


<h1>Articles: </h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th><%= sort_link(@q, :created_at) %>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= l article.created_at %></td>
      <td><%= link_to 'Moderate', edit_moderation_article_path(article) %>
    </tr>
  <% end %>
</table>
